{% extends 'header.html' %}


{% block title %}About Us - Top-Rated Brass Parts Manufacturers in Asia for Premium Quality Products at Swastik Metal{% endblock title %}

{% block body%}
  <style>
    @keyframes slideInFromLeft {
      0% {
                transform: translateX(20%);
                opacity: 0;
            }
            50% {
                transform: translateX(0);
                opacity: 1;
            }
            100% {
                transform: translateX(20%);
                opacity: 0;
            }
  }

  .leftAnimation {
      opacity: 0; 
      animation: slideInFromLeft 2s ease-out infinite; 
  }
  .logos-slider {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    position: relative;
    -webkit-mask-image: linear-gradient(90deg,rgba(0,0,0,0) 0,#000 15%,#000 85%,rgba(0,0,0,0) 100%);
    mask-image: linear-gradient(90deg,rgba(0,0,0,0) 0,#000 15%,#000 85%,rgba(0,0,0,0) 100%);
}

.logos-slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    animation: slide 15s linear infinite;
}

@keyframes slide {
  0% {
    transform: translate3d(0,0,0)
  }
  100% {
    transform: translate3d(-100%,0,0)
  }
}

.cardd {
  padding: 2rem;
  margin: 0 auto;
}
.slider-image{
  width: 0%;
  height: 10%;
}





  </style>

  <!--body section start-->

  <nav class="shadow p-3 mb-5 bg-white rounded">

      <!--aboutus header strat-->
      <section class="container mb-5" id="mission" style="scroll-margin-top: 60px">
          <div class="text-center mx-auto" style="max-width: 690px; color: #15544a">
            <p class="mt-2 mb-2 display-6"  style="color: #15544a; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Dive Into <i>our</i> World</p>  
            <p class="lead" style="color: #15544a; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Brass Craftsmanship at Its Finest.</p>
            <hr class="mt-0 mb-3" width="100%">
          </div>
      </section>
      <!--aboutus header end-->


    <!--Company info start-->
    <section class="container">      
        <div class="row">
          <div class="col-lg-6 order-lg-2 order-2">
            
              <h2 class="card-title" style="color: #ee3435;">Nice to Meet YOU!</h2>
              <h5 class="card-text" style="color: #15544a;">Swastik Metal have Expertise in Brass Manufacturing and Global Scrap Importing</h5>
              <p class="card-text" style="color: #15544a; text-align: justify;">Established in the heart of Jamnagar—the "Brass City of India"—Swastik Metal is a trusted name in precision brass manufacturing. We specialize in high-quality brass components, including inserts, rods, medical parts, ball valves, nut-bolts, electric components, and stamping parts, serving industries like automotive, agriculture, construction, and medical equipment. Our commitment to quality and innovation ensures precision and reliability in every product.</p>
              <p class="card-text" style="color: #15544a; text-align: justify;">Beyond manufacturing, Swastik Metal is a key player in the brass scrap industry, dealing in high-quality materials like Honey Scrap and Vilayti Scrap. We focus on sustainable solutions, connecting local and global markets with eco-friendly and reliable services.</p>
              <p class="card-text" style="color: #15544a; text-align: justify;">Our mission is to blend craftsmanship with innovation while fostering lasting client relationships. Whether through premium components or sustainable scrap solutions, we prioritize quality, efficiency, and customer satisfaction, striving to set new standards in the brass industry.</p> 
              
            
          </div>
          <div class="col-lg-6 order-lg-1 order-1">
            <img src="/static/images/Swastik-Metal_site-picture.jpg" class="img-fluid rounded-3 img-md" alt="Top 10 Brass part Suppliers and exporters in India(Jamnagar, Gujarat).">
          </div>
        </div>
    </section>
    <!--Company info end-->
    <!--manufaturing process section start-->
    <!--manufactring header start-->
    <section class="container pt-3 pt-sm-4 pt-lg-5 mt-lg-2 mt-xl-4 mt-xxl-5" style="scroll-margin-top: 60px">
      <div class="text-center mx-auto display-6">
        <h2 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color: #15544a;">Manufacturing Procedures</h2>
        <hr class="" width="100%">
      </div>
    </section>
    <!--manufactring header end-->
    
    <div class="cardd border-0">
      <div class="logos-slider">
        <div class="logos-slider-container">
          <div style="max-width: 145px;">
            <img src="/static/images/swastik_Metal-Rawmaterial.png" alt="Swastik Metal is Asia's(India) top 10 Brass part manufacturer and Suppliers.">
            <p class="text-center mx-2 h6" style="color: #15544a;">Import Raw Materials</p>                       
          </div>
          <!--1st image-->
          <div class="my-3 leftAnimation">
            <img src="/static/images/arrow.png" alt="Swastik Metal is well known industry for Supplying and exporting company in India.">            
          </div>
          <!--2nd image-->
          <div style="max-width: 145px;">
            <img src="/static/images/swastik-Metal-manufacturing.png" alt="Swastik Metal is one of the largest metals distribution company in India(Jamnagar, Gujarat).">
            <p class="text-center mx-2 h6" style="color: #15544a;">Manufacturing</p>                       
          </div>
          <!--3rd image-->
           <div class="my-3 leftAnimation" style="max-width: 145px;">
            <img src="/static/images/arrow.png" alt="swastik metal is Global Suppliers of Brass Products.">            
          </div>
          <!--4th image-->
           <div style="max-width: 145px;">
            <img src="/static/images/swastik-Metal_Qualitycheck.png" alt="swastik metal is India's the one of the largest manufacturing Hub in the Asia and major exporters of Brass Electrical Components and Parts
to different countries across the World">  
            <p class="text-center mx-2 h6" style="color: #15544a;">Quality Check</p>                      
          </div>
          <!--5th image-->
           <div class="my-3 leftAnimation" style="max-width: 145px;">
            <img src="/static/images/arrow.png" alt="Swastik Metal: The Hub of Brass Components Manufacturing in India(Jamnagar,Gujarat).">            
          </div>
          <!--7th image-->
           <div style="max-width: 145px;">
            <img src="/static/images/swastik-Metal_Iteams-Packaging.png" alt="We “Swastik Metal” are a leading Manufacturer and Trader of a wide range brass spare parts, used in car engines, 
agricaluture fittings, medical instruments, and so on.">  
            <p class="text-center mx-2 h6" style="color: #15544a;">Packaging</p>                      
          </div>
          <!--8th image-->
           <div class="my-3 leftAnimation" style="max-width: 145px;">
            <img src="/static/images/arrow.png" alt="Currently, Swastik Metal holds the title of the world's largest brass scrap importers in India(Jamnagar, Gujarat).">            
          </div>
          <!--9th image-->
           <div style="max-width: 145px;">
            <img src="/static/images/swastik_metal_delivery.png" alt="Globally, the top three importers of Brass Scrap are India, Swastik MEtal is one of them">    
            <p class="text-center mx-2 h6" style="color: #15544a;">Shipping</p>                    
          </div>
        </div>
      </div>
    </div>

   
  
    <!--manufaturing process section end-->

    <!--CEO mission quote start-->
    
    <section class="container pt-3 pt-sm-4 pt-lg-5 mt-lg-2 mt-xl-4 mt-xxl-5" id="mission" style="scroll-margin-top: 60px">
      <div class="text-center mx-auto" style="max-width: 690px;">
        <h2 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color: #ee3435;">Mission</h2>
        <h3 class="h1 pb-6 pb-md-3 mx-auto" style="color: #15544a">The best products at fair prices</h3>
        <p class=" pb-2 pb-md-1 mb-3" style="color: #15544a">"We believe our products are crafted to make life simpler and more enjoyable. That's why finding the right brass products with us is quick and convenient. At Swastik Metal, we provide tailored solutions, ensuring quality and customer satisfaction."</p>
        <hr class="mt-0 mb-3">
        <h6 class="mb-3" style="color: #15544a">Shailesh Taraviya, Swastik Metal CEO</h6>
      </div>
    </section>
    
    <!--CEO mission quote end-->

  </nav>    


  <!--body section end-->

{% endblock body %}