{% extends 'header.html' %}

{% block title %}Brass Terminals{% endblock title %}

{% block body%}

<!--body section start-->
    <nav class="mt-2 shadow p-3 mb-5 bg-white rounded">

        <!--Breadcrumb menu start-->
        <nav class="m-4" style="--bs-breadcrumb-divider: '>'; color: #15544a;" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item h4"><a class="text-decoration-none" style="color: #15544a; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;" href="/product">Product</a></li>
              <li class="breadcrumb-item h4" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Bicycle Pump Parts</li>
            </ol>
          </nav>
        <!--Breadcrumb menu end-->
        <!--Products section start-->
        <section class="container">
            <div class="row mb-5">
                <div class="row row-cols-1 row-cols-md-4 g-4">
                    <!--1st image-->
                    <div class="col">
                      <div class="card border-0">
                        <a class=" text-decoration-none" href="" style="color: #15544a;" data-bs-toggle="modal" data-bs-target="#bicyclepumppart01"><img src="/static/Productimage/bicycle pump parts/bicycle-pump-part01.jpg" class="card-img-top mt-2 shadow p-3 bg-white rounded" alt="..."></a>
                      </div>
                    </div>
                <!--1stModal start-->
                <div class="modal fade" id="bicyclepumppart01" tabindex="-1" aria-labelledby="bicyclePumpPart01" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <!--model header start-->
                            <div class="modal-header">
                                <h4 class="modal-title text-center" id="bicyclePumpPart01" style="color: #ee3435; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Bicycle Pump Part</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <!--model header end-->
                            <!--model body start-->
                            <div class="modal-body">
                              <!--card group start-->
                              <div class="card-group shadow p-3 mb-5 bg-white rounded">
                                <div class="card py-3 px-md-3 border-0">
                                  <img src="/static/Productimage/bicycle pump parts/bicycle-pump-part01.jpg" class="card-img-top" alt="...">
                                </div>
                              </div>
                              <!--card group end-->
                              <!--deatails of product section start-->
                              <div class="py-3 px-md-3">
                                <div class="">
                                  <h3 style="color: #15544a; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Details of Product</h3>
                                </div>
                              <table class="table table-bordered">
                                <tbody>
                                  <tr>
                                    <th scope="row" style="background-color: aliceblue; color: #15544a;" class="text-center">Length/Size</th>
                                    <td  style="color: #15544a;">
                                      <li>As per Customer's requirements.</li>
                                    </td>
                                  </tr>
                                  <tr>
                                    <th scope="row" style="background-color: aliceblue; color: #15544a;" class="text-center">Finishing/Coating</th>
                                    <td  style="color: #15544a;">
                                      <li>As per Customer's requirements.</li>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                            <!--deatails of product section end-->
                              
                            </div>
                            <!--model body end-->
                        </div>
                    </div>
                </div>
                <!--1stModal end-->
                    <!--2nd image-->
                    <div class="col">
                        <div class="card border-0">
                          <a class=" text-decoration-none" href="#" style="color: #15544a;" data-bs-toggle="modal" data-bs-target="#bicyclepumppart02"><img src="/static/Productimage/bicycle pump parts/bicycle-pump-part02.jpg" class="card-img-top mt-2 shadow p-3 bg-white rounded" alt="..."></a>
                        </div>
                      </div>
                      <!--2ndModal section start-->
                      <div class="modal fade" id="bicyclepumppart02" tabindex="-1" aria-labelledby="bicyclePumpPart02" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <!--model header start-->
                                <div class="modal-header">
                                    <h4 class="modal-title text-center" id="bicyclePumpPart02" style="color: #ee3435; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Bicycle Pump Part</h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <!--model header end-->
                                <!--model body start-->
                                <div class="modal-body">
                                  <!--card group start-->
                                  <div class="card-group shadow p-3 mb-5 bg-white rounded">
                                    <div class="card py-3 px-md-3 border-0">
                                      <img src="/static/Productimage/bicycle pump parts/bicycle-pump-part02.jpg" class="card-img-top" alt="...">
                                    </div>
                                  </div>
                                  <!--card group end-->
                                 
                                  <!--deatails of product section start-->
                                  <div class="py-3 px-md-3">
                                    <div class="">
                                      <h3 style="color: #15544a; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Details of Product</h3>
                                    </div>
                                  <table class="table table-bordered">
                                    <tbody>
                                      <tr>
                                        <th scope="row" style="background-color: aliceblue; color: #15544a;" class="text-center">Length/Size</th>
                                        <td  style="color: #15544a;">
                                          <li>As per customer's requirements.</li>
                                        </td>
                                      </tr>
                                      <tr>
                                        <th scope="row" style="background-color: aliceblue; color: #15544a;" class="text-center">Finishing/Coating</th>
                                        <td  style="color: #15544a;">
                                          <li>As per customer's requirements.</li>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                                <!--deatails of product section end-->
                                  
                                </div>
                                <!--model body end-->
                            </div>
                        </div>
                    </div>
                      <!--2ndModal section end-->
                    <!--3rd image-->
                      <div class="col">
                        <div class="card border-0">
                          <a class=" text-decoration-none" href="#" style="color: #15544a;" data-bs-toggle="modal" data-bs-target="#bicyclepumppart03"><img src="/static/Productimage/bicycle pump parts/bicycle-pump-part03.jpg" class="card-img-top mt-2 shadow p-3 bg-white rounded" alt="..."></a>
                        </div>
                    </div>  
                    <!--3rdModal section strat-->
                    <div class="modal fade" id="bicyclepumppart03" tabindex="-1" aria-labelledby="bicyclePumpPart03" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                          <div class="modal-content">
                              <!--model header start-->
                              <div class="modal-header">
                                  <h4 class="modal-title text-center" id="bicyclePumpPart03" style="color: #ee3435; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Bicycle Pump Part</h4>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <!--model header end-->
                              <!--model body start-->
                              <div class="modal-body">
                                <!--card group start-->
                                <div class="card-group shadow p-3 mb-5 bg-white rounded">
                                  <div class="card py-3 px-md-3 border-0">
                                    <img src="/static/Productimage/bicycle pump parts/bicycle-pump-part03.jpg" class="card-img-top" alt="...">
                                  </div>
                                </div>
                                <!--card group end-->
                                <!--deatails of product section start-->
                                <div class="py-3 px-md-3">
                                  <div class="">
                                    <h3 style="color: #15544a; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Details of Product</h3>
                                  </div>
                                <table class="table table-bordered">
                                  <tbody>
                                    <tr>
                                      <th scope="row" style="background-color: aliceblue; color: #15544a;" class="text-center">Length/Size</th>
                                      <td  style="color: #15544a;">
                                        <li>As per customer's requirements.</li>
                                        
                                      </td>
                                    </tr>
                                    <tr>
                                      <th scope="row" style="background-color: aliceblue; color: #15544a;" class="text-center">Finishing/Coating</th>
                                      <td  style="color: #15544a;">
                                        
                                        <li>As per customer's requirements.</li>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                              <!--deatails of product section end-->
                                
                              </div>
                              <!--model body end-->
                          </div>
                      </div>
                  </div>
                    <!--3rdModal section end-->
                     <!--4th image-->
                     <div class="col">
                      <div class="card border-0">
                        <a class=" text-decoration-none" href="#" style="color: #15544a;" data-bs-toggle="modal" data-bs-target="#bicyclepumppart04"><img src="/static/Productimage/bicycle pump parts/bicycle-pump-part04.jpg" class="card-img-top mt-2 shadow p-3 bg-white rounded" alt="..."></a>
                      </div>
                  </div>  
                  <!--4thModal section strat-->
                  <div class="modal fade" id="bicyclepumppart04" tabindex="-1" aria-labelledby="bicyclePumpPart04" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <!--model header start-->
                            <div class="modal-header">
                                <h4 class="modal-title text-center" id="bicyclePumpPart04" style="color: #ee3435; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Bicycle Pump Part</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <!--model header end-->
                            <!--model body start-->
                            <div class="modal-body">
                              <!--card group start-->
                              <div class="card-group shadow p-3 mb-5 bg-white rounded">
                                <div class="card py-3 px-md-3 border-0">
                                  <img src="/static/Productimage/bicycle pump parts/bicycle-pump-part04.jpg" class="card-img-top" alt="...">
                                </div>
                              </div>
                              <!--card group end-->
                              <!--deatails of product section start-->
                              <div class="py-3 px-md-3">
                                <div class="">
                                  <h3 style="color: #15544a; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Details of Product</h3>
                                </div>
                              <table class="table table-bordered">
                                <tbody>
                                  <tr>
                                    <th scope="row" style="background-color: aliceblue; color: #15544a;" class="text-center">Length/Size</th>
                                    <td  style="color: #15544a;">
                                      <li>As per customer's requirements.</li>
                                    </td>
                                  </tr>
                                  <tr>
                                    <th scope="row" style="background-color: aliceblue; color: #15544a;" class="text-center">Finishing/Coating</th>
                                    <td  style="color: #15544a;">
                                      <li>As per customer's requirements.</li>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                            <!--deatails of product section end-->
                              
                            </div>
                            <!--model body end-->
                        </div>
                    </div>
                </div>
                  <!--4thModal section end-->

                   <!--5th image-->
                   <div class="col">
                    <div class="card border-0">
                      <a class=" text-decoration-none" href="#" style="color: #15544a;" data-bs-toggle="modal" data-bs-target="#bicyclepumppart05"><img src="/static/Productimage/bicycle pump parts/bicycle-pump-part05.jpg" class="card-img-top mt-2 shadow p-3 bg-white rounded" alt="..."></a>
                    </div>
                </div>  
                <!--5thModal section strat-->
                <div class="modal fade" id="bicyclepumppart05" tabindex="-1" aria-labelledby="bicyclePumpPart05" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                          <!--model header start-->
                          <div class="modal-header">
                              <h4 class="modal-title text-center" id="bicyclePumpPart05" style="color: #ee3435; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Bicycle Pump Part</h4>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <!--model header end-->
                          <!--model body start-->
                          <div class="modal-body">
                            <!--card group start-->
                            <div class="card-group shadow p-3 mb-5 bg-white rounded">
                              <div class="card py-3 px-md-3 border-0">
                                <img src="/static/Productimage/bicycle pump parts/bicycle-pump-part05.jpg" class="card-img-top" alt="...">
                              </div>
                            </div>
                            <!--card group end-->
                            <!--deatails of product section start-->
                            <div class="py-3 px-md-3">
                              <div class="">
                                <h3 style="color: #15544a; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Details of Product</h3>
                              </div>
                            <table class="table table-bordered">
                              <tbody>
                                <tr>
                                  <th scope="row" style="background-color: aliceblue; color: #15544a;" class="text-center">Length/Size</th>
                                  <td  style="color: #15544a;">
                                    <li>As per customer's requirements.</li>
                                  </td>
                                </tr>
                                <tr>
                                  <th scope="row" style="background-color: aliceblue; color: #15544a;" class="text-center">Finishing/Coating</th>
                                  <td  style="color: #15544a;">
                                    <li>As per customer's requirements.</li>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <!--deatails of product section end-->
                            
                          </div>
                          <!--model body end-->
                      </div>
                  </div>
              </div>
                <!--5thModal section end-->

                  <!--6th image-->
                  <div class="col">
                    <div class="card border-0">
                      <a class=" text-decoration-none" href="#" style="color: #15544a;" data-bs-toggle="modal" data-bs-target="#bicyclepumppart06"><img src="/static/Productimage/bicycle pump parts/bicycle-pump-part06.jpg" class="card-img-top mt-2 shadow p-3 bg-white rounded" alt="..."></a>
                    </div>
                </div>  
                <!--6thModal section strat-->
                <div class="modal fade" id="bicyclepumppart06" tabindex="-1" aria-labelledby="bicyclepumppart06" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                          <!--model header start-->
                          <div class="modal-header">
                              <h4 class="modal-title text-center" id="bicyclepumppart06" style="color: #ee3435; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Bicycle Pump Part</h4>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <!--model header end-->
                          <!--model body start-->
                          <div class="modal-body">
                            <!--card group start-->
                            <div class="card-group shadow p-3 mb-5 bg-white rounded">
                              <div class="card py-3 px-md-3 border-0">
                                <img src="/static/Productimage/bicycle pump parts/bicycle-pump-part06.jpg" class="card-img-top" alt="...">
                              </div>
                            </div>
                            <!--card group end-->
                            <!--deatails of product section start-->
                            <div class="py-3 px-md-3">
                              <div class="">
                                <h3 style="color: #15544a; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Details of Product</h3>
                              </div>
                            <table class="table table-bordered">
                              <tbody>
                                <tr>
                                  <th scope="row" style="background-color: aliceblue; color: #15544a;" class="text-center">Length/Size</th>
                                  <td  style="color: #15544a;">
                                    <li>As per customer's requirements.</li>
                                  </td>
                                </tr>
                                <tr>
                                  <th scope="row" style="background-color: aliceblue; color: #15544a;" class="text-center">Finishing/Coating</th>
                                  <td  style="color: #15544a;">
                                    <li>As per customer's requirements.</li>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <!--deatails of product section end-->
                            
                          </div>
                          <!--model body end-->
                      </div>
                  </div>
              </div>
                <!--6thModal section end-->

                <!--7th image-->
                <div class="col">
                  <div class="card border-0">
                    <a class=" text-decoration-none" href="#" style="color: #15544a;" data-bs-toggle="modal" data-bs-target="#bicyclepumppart07"><img src="/static/Productimage/bicycle pump parts/bicycle-pump-part07.jpg" class="card-img-top mt-2 shadow p-3 bg-white rounded" alt="..."></a>
                  </div>
              </div>  
              <!--7thModal section strat-->
              <div class="modal fade" id="bicyclepumppart07" tabindex="-1" aria-labelledby="bicyclePumpPart07" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <!--model header start-->
                        <div class="modal-header">
                            <h4 class="modal-title text-center" id="bicyclePumpPart07" style="color: #ee3435; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Bicycle Pump Part</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <!--model header end-->
                        <!--model body start-->
                        <div class="modal-body">
                          <!--card group start-->
                          <div class="card-group shadow p-3 mb-5 bg-white rounded">
                            <div class="card py-3 px-md-3 border-0">
                              <img src="/static/Productimage/bicycle pump parts/bicycle-pump-part13.jpg" class="card-img-top" alt="...">
                            </div>
                            <div class="card py-3 px-md-3 border-0">
                              <img src="/static/Productimage/bicycle pump parts/bicycle-pump-part14.jpg" class="card-img-top" alt="...">
                            </div>
                          </div>
                          <!--card group end-->
                          <!--deatails of product section start-->
                          <div class="py-3 px-md-3">
                            <div class="">
                              <h3 style="color: #15544a; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Details of Product</h3>
                            </div>
                          <table class="table table-bordered">
                            <tbody>
                              <tr>
                                <th scope="row" style="background-color: aliceblue; color: #15544a;" class="text-center">Length/Size</th>
                                <td  style="color: #15544a;">
                                  <li>As per customer's requirements.</li>
                                </td>
                              </tr>
                              <tr>
                                <th scope="row" style="background-color: aliceblue; color: #15544a;" class="text-center">Finishing/Coating</th>
                                <td  style="color: #15544a;">
                                  <li>As per customer's requirements.</li>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <!--deatails of product section end-->
                          
                        </div>
                        <!--model body end-->
                    </div>
                </div>
            </div>
              <!--7thModal section end-->
                
              <!--8th image-->
              <div class="col">
                <div class="card border-0">
                  <a class=" text-decoration-none" href="#" style="color: #15544a;" data-bs-toggle="modal" data-bs-target="#bicyclepumppart08"><img src="/static/Productimage/bicycle pump parts/bicycle-pump-part08.jpg" class="card-img-top mt-2 shadow p-3 bg-white rounded" alt="..."></a>
                </div>
            </div>  
            <!--8thModal section strat-->
            <div class="modal fade" id="bicyclepumppart08" tabindex="-1" aria-labelledby="bicyclePumpPart08" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                      <!--model header start-->
                      <div class="modal-header">
                          <h4 class="modal-title text-center" id="bicyclePumpPart08" style="color: #ee3435; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Bicycle Pump Part</h4>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <!--model header end-->
                      <!--model body start-->
                      <div class="modal-body">
                        <!--card group start-->
                        <div class="card-group shadow p-3 mb-5 bg-white rounded">
                          <div class="card py-3 px-md-3 border-0">
                            <img src="/static/Productimage/bicycle pump parts/bicycle-pump-part08.jpg" class="card-img-top" alt="...">
                          </div>
                        </div>
                        <!--card group end-->
                        <!--deatails of product section start-->
                        <div class="py-3 px-md-3">
                          <div class="">
                            <h3 style="color: #15544a; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Details of Product</h3>
                          </div>
                        <table class="table table-bordered">
                          <tbody>
                            <tr>
                              <th scope="row" style="background-color: aliceblue; color: #15544a;" class="text-center">Length/Size</th>
                              <td  style="color: #15544a;">
                                <li>As per customer's requirements.</li>
                              </td>
                            </tr>
                            <tr>
                              <th scope="row" style="background-color: aliceblue; color: #15544a;" class="text-center">Finishing/Coating</th>
                              <td  style="color: #15544a;">
                                <li>As per customer's requirements.</li>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <!--deatails of product section end-->
                        
                      </div>
                      <!--model body end-->
                  </div>
              </div>
          </div>
            <!--8thModal section end-->
                  

              <!--8th image-->
              <div class="col">
                <div class="card border-0">
                  <a class=" text-decoration-none" href="#" style="color: #15544a;" data-bs-toggle="modal" data-bs-target="#bicyclepumppart09"><img src="/static/Productimage/bicycle pump parts/bicycle-pump-part09.jpg" class="card-img-top mt-2 shadow p-3 bg-white rounded" alt="..."></a>
                </div>
            </div>  
            <!--8thModal section strat-->
            <div class="modal fade" id="bicyclepumppart09" tabindex="-1" aria-labelledby="bicyclePumpPart09" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                      <!--model header start-->
                      <div class="modal-header">
                          <h4 class="modal-title text-center" id="bicyclePumpPart09" style="color: #ee3435; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Bicycle Pump Part</h4>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <!--model header end-->
                      <!--model body start-->
                      <div class="modal-body">
                        <!--card group start-->
                        <div class="card-group shadow p-3 mb-5 bg-white rounded">
                          <div class="card py-3 px-md-3 border-0">
                            <img src="/static/Productimage/bicycle pump parts/bicycle-pump-part09.jpg" class="card-img-top" alt="...">
                          </div>
                        </div>
                        <!--card group end-->
                        <!--deatails of product section start-->
                        <div class="py-3 px-md-3">
                          <div class="">
                            <h3 style="color: #15544a; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Details of Product</h3>
                          </div>
                        <table class="table table-bordered">
                          <tbody>
                            <tr>
                              <th scope="row" style="background-color: aliceblue; color: #15544a;" class="text-center">Length/Size</th>
                              <td  style="color: #15544a;">
                                <li>As per customer's requirements.</li>
                              </td>
                            </tr>
                            <tr>
                              <th scope="row" style="background-color: aliceblue; color: #15544a;" class="text-center">Finishing/Coating</th>
                              <td  style="color: #15544a;">
                                <li>As per customer's requirements.</li>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <!--deatails of product section end-->
                        
                      </div>
                      <!--model body end-->
                  </div>
              </div>
          </div>
            <!--8thModal section end-->

            <!--9th image-->
            <div class="col">
              <div class="card border-0">
                <a class=" text-decoration-none" href="#" style="color: #15544a;" data-bs-toggle="modal" data-bs-target="#bicyclepumppart10"><img src="/static/Productimage/bicycle pump parts/bicycle-pump-part10.jpg" class="card-img-top mt-2 shadow p-3 bg-white rounded" alt="..."></a>
              </div>
          </div>  
          <!--9thModal section strat-->
          <div class="modal fade" id="bicyclepumppart10" tabindex="-1" aria-labelledby="bicyclePumpPart10" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <!--model header start-->
                    <div class="modal-header">
                        <h4 class="modal-title text-center" id="bicyclePumpPart10" style="color: #ee3435; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Bicycle Pump Part</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!--model header end-->
                    <!--model body start-->
                    <div class="modal-body">
                      <!--card group start-->
                      <div class="card-group shadow p-3 mb-5 bg-white rounded">
                        <div class="card py-3 px-md-3 border-0">
                          <img src="/static/Productimage/bicycle pump parts/bicycle-pump-part10.jpg" class="card-img-top" alt="...">
                        </div>
                      </div>
                      <!--card group end-->
                      <!--deatails of product section start-->
                      <div class="py-3 px-md-3">
                        <div class="">
                          <h3 style="color: #15544a; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Details of Product</h3>
                        </div>
                      <table class="table table-bordered">
                        <tbody>
                          <tr>
                            <th scope="row" style="background-color: aliceblue; color: #15544a;" class="text-center">Length/Size</th>
                            <td  style="color: #15544a;">
                              <li>As per customer's requirements.</li>
                            </td>
                          </tr>
                          <tr>
                            <th scope="row" style="background-color: aliceblue; color: #15544a;" class="text-center">Finishing/Coating</th>
                            <td  style="color: #15544a;">
                              <li>As per customer's requirements.</li>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!--deatails of product section end-->
                      
                    </div>
                    <!--model body end-->
                </div>
            </div>
        </div>
          <!--9thModal section end-->

          <!--10th image-->
          <div class="col">
            <div class="card border-0">
              <a class=" text-decoration-none" href="#" style="color: #15544a;" data-bs-toggle="modal" data-bs-target="#bicyclepumppart11"><img src="/static/Productimage/bicycle pump parts/bicycle-pump-part11.jpg" class="card-img-top mt-2 shadow p-3 bg-white rounded" alt="..."></a>
            </div>
        </div>  
        <!--10thModal section strat-->
        <div class="modal fade" id="bicyclepumppart11" tabindex="-1" aria-labelledby="bicyclePumpPart11" aria-hidden="true">
          <div class="modal-dialog modal-lg">
              <div class="modal-content">
                  <!--model header start-->
                  <div class="modal-header">
                      <h4 class="modal-title text-center" id="bicyclePumpPart11" style="color: #ee3435; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Bicycle Pump Part</h4>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <!--model header end-->
                  <!--model body start-->
                  <div class="modal-body">
                    <!--card group start-->
                    <div class="card-group shadow p-3 mb-5 bg-white rounded">
                      <div class="card py-3 px-md-3 border-0">
                        <img src="/static/Productimage/bicycle pump parts/bicycle-pump-part11.jpg" class="card-img-top" alt="...">
                      </div>
                    </div>
                    <!--card group end-->
                    <!--deatails of product section start-->
                    <div class="py-3 px-md-3">
                      <div class="">
                        <h3 style="color: #15544a; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Details of Product</h3>
                      </div>
                    <table class="table table-bordered">
                      <tbody>
                        <tr>
                          <th scope="row" style="background-color: aliceblue; color: #15544a;" class="text-center">Length/Size</th>
                          <td  style="color: #15544a;">
                            <li>As per customer's requirements.</li>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row" style="background-color: aliceblue; color: #15544a;" class="text-center">Finishing/Coating</th>
                          <td  style="color: #15544a;">
                            <li>As per customer's requirements.</li>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <!--deatails of product section end-->
                    
                  </div>
                  <!--model body end-->
              </div>
          </div>
      </div>
        <!--10thModal section end-->


              <!--11th image-->
              <div class="col">
                <div class="card border-0">
                  <a class=" text-decoration-none" href="#" style="color: #15544a;" data-bs-toggle="modal" data-bs-target="#bicyclepumppart12"><img src="/static/Productimage/bicycle pump parts/bicycle-pump-part12.jpg" class="card-img-top mt-2 shadow p-3 bg-white rounded" alt="..."></a>
                </div>
            </div>  
            <!--11thModal section strat-->
            <div class="modal fade" id="bicyclepumppart12" tabindex="-1" aria-labelledby="bicyclePumpPart12" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                      <!--model header start-->
                      <div class="modal-header">
                          <h4 class="modal-title text-center" id="bicyclePumpPart12" style="color: #ee3435; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Bicycle Pump Part</h4>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <!--model header end-->
                      <!--model body start-->
                      <div class="modal-body">
                        <!--card group start-->
                        <div class="card-group shadow p-3 mb-5 bg-white rounded">
                          <div class="card py-3 px-md-3 border-0">
                            <img src="/static/Productimage/bicycle pump parts/bicycle-pump-part12.jpg" class="card-img-top" alt="...">
                          </div>
                        </div>
                        <!--card group end-->
                        <!--deatails of product section start-->
                        <div class="py-3 px-md-3">
                          <div class="">
                            <h3 style="color: #15544a; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Details of Product</h3>
                          </div>
                        <table class="table table-bordered">
                          <tbody>
                            <tr>
                              <th scope="row" style="background-color: aliceblue; color: #15544a;" class="text-center">Length/Size</th>
                              <td  style="color: #15544a;">
                                <li>As per customer's requirements.</li>
                              </td>
                            </tr>
                            <tr>
                              <th scope="row" style="background-color: aliceblue; color: #15544a;" class="text-center">Finishing/Coating</th>
                              <td  style="color: #15544a;">
                                <li>As per customer's requirements.</li>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <!--deatails of product section end-->
                        
                      </div>
                      <!--model body end-->
                  </div>
              </div>
          </div>
            <!--11thModal section end-->


            
                

              </div>
              </div>
            </div>
          </section>

        <!--Products section end-->

    </nav>
<!--body section end-->

{% endblock body %}