{% extends 'header.html' %}

{% block title %}Brass Wing Nuts{% endblock title %}

{% block body%}

<!--body section start-->
    <nav class="mt-2 shadow p-3 mb-5 bg-white rounded">

        <!--Breadcrumb menu start-->
        <nav class="m-4" style="--bs-breadcrumb-divider: '>'; color: #15544a;" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item h4"><a class="text-decoration-none" style="color: #15544a; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;" href="/product">Product</a></li>
              <li class="breadcrumb-item h4" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Brass Wing Nuts</li>
            </ol>
          </nav>
        <!--Breadcrumb menu end-->
        <!--Products section start-->
        <section class="container">
            <div class="row mb-5">
                <div class="row row-cols-1 row-cols-md-4 g-4">
                <!--1st image-->
                <div class="col">
                      <div class="card border-0">
                        <a class=" text-decoration-none" href="" style="color: #15544a;" data-bs-toggle="modal" data-bs-target="#brassWingNut01"><img src="/static/Productimage/Brass wing nuts/wing-nuts01.jpg" class="card-img-top mt-2 shadow p-3 bg-white rounded" alt="..."></a>
                      </div>
                </div>
                <!--1stModal start-->
                <div class="modal fade" id="brassWingNut01" tabindex="-1" aria-labelledby="brasswingnut01" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <!--model header start-->
                            <div class="modal-header">
                                <h4 class="modal-title text-center" id="brasswingnut" style="color: #ee3435; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Wing Nuts</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <!--model header end-->
                            <!--model body start-->
                            <div class="modal-body">
                              <!--card group start-->
                              <div class="card-group shadow p-3 mb-5 bg-white rounded">
                                <div class="card py-3 px-md-3 border-0">
                                  <img src="/static/Productimage/Brass wing nuts/wing-nuts01.jpg" class="card-img-top" alt="...">
                                </div>
                                <div class="card py-3 px-md-3 border-0">
                                  <img src="/static/Productimage/Brass wing nuts/wing-nuts02.jpg" class="card-img-top" alt="...">
                                </div>
                              </div>
                              <!--card group end-->
                              <!--deatails of product section start-->
                              <div class="py-3 px-md-3">
                                <div class="">
                                  <h3 style="color: #15544a; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Details of Product</h3>
                                </div>
                              <table class="table table-bordered">
                                <tbody>
                                  <tr>
                                    <th scope="row" style="background-color: aliceblue; color: #15544a;" class="text-center">Lenght/Size</th>
                                    <td  style="color: #15544a;">
                                      <li>As per customer's requirements.</li>
                                    </td>
                                  </tr>
                                  <tr>
                                    <th scope="row" style="background-color: aliceblue; color: #15544a;" class="text-center">Finising/Coating</th>
                                    <td  style="color: #15544a;">
                                      <li>As per customer's requirements.</li>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                            <!--deatails of product section end-->
                              
                            </div>
                            <!--model body end-->
                        </div>
                    </div>
                </div>
                <!--1stModal end-->

                <!--2st image-->
                <div class="col">
                  <div class="card border-0">
                    <a class=" text-decoration-none" href="/brassinsertproducts" style="color: #15544a;" data-bs-toggle="modal" data-bs-target="#brassWingNut02"><img src="/static/Productimage/Brass wing nuts/wing-nuts03.jpg" class="card-img-top mt-2 shadow p-3 bg-white rounded" alt="..."></a>
                  </div>
            </div>
            <!--3stModal start-->
            <div class="modal fade" id="brassWingNut02" tabindex="-1" aria-labelledby="brasswingnut02" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <!--model header start-->
                        <div class="modal-header">
                            <h4 class="modal-title text-center" id="brasswingnut02" style="color: #ee3435; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Wing Nuts</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <!--model header end-->
                        <!--model body start-->
                        <div class="modal-body">
                          <!--card group start-->
                          <div class="card-group shadow p-3 mb-5 bg-white rounded">
                            <div class="card py-3 px-md-3 border-0">
                              <img src="/static/Productimage/Brass wing nuts/wing-nuts03.jpg" class="card-img-top" alt="...">
                            </div>
                            <div class="card py-3 px-md-3 border-0">
                              <img src="/static/Productimage/Brass wing nuts/wing-nuts04.jpg" class="card-img-top" alt="...">
                            </div>
                          </div>
                          <!--card group end-->
                          <!--deatails of product section start-->
                          <div class="py-3 px-md-3">
                            <div class="">
                              <h3 style="color: #15544a; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Details of Product</h3>
                            </div>
                          <table class="table table-bordered">
                            <tbody>
                              <tr>
                                <th scope="row" style="background-color: aliceblue; color: #15544a;" class="text-center">Lenght/Size</th>
                                <td  style="color: #15544a;">
                                  <li>As per customer's requirements.</li>
                                </td>
                              </tr>
                              <tr>
                                <th scope="row" style="background-color: aliceblue; color: #15544a;" class="text-center">Finising/Coating</th>
                                <td  style="color: #15544a;">
                                  <li>As per customer's requirements.</li>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <!--deatails of product section end-->
                          
                        </div>
                        <!--model body end-->
                    </div>
                </div>
            </div>
            <!--2stModal end-->


                <!--3rd image-->
                <div class="col">
                  <div class="card border-0">
                    <a class=" text-decoration-none" href="/" style="color: #15544a;" data-bs-toggle="modal" data-bs-target="#brassWingNut03"><img src="/static/Productimage/Brass wing nuts/wing-nuts05.jpg" class="card-img-top mt-2 shadow p-3 bg-white rounded" alt="..."></a>
                  </div>
            </div>
            <!--3rdModal start-->
            <div class="modal fade" id="brassWingNut03" tabindex="-1" aria-labelledby="brasswingnut03" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <!--model header start-->
                        <div class="modal-header">
                            <h4 class="modal-title text-center" id="brasswingnut03" style="color: #ee3435; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Wing Nuts</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <!--model header end-->
                        <!--model body start-->
                        <div class="modal-body">
                          <!--card group start-->
                          <div class="card-group shadow p-3 mb-5 bg-white rounded">
                            <div class="card py-3 px-md-3 border-0">
                              <img src="/static/Productimage/Brass wing nuts/wing-nuts05.jpg" class="card-img-top" alt="...">
                            </div>
                            <div class="card py-3 px-md-3 border-0">
                              <img src="/static/Productimage/Brass wing nuts/wing-nuts06.jpg" class="card-img-top" alt="...">
                            </div>
                          </div>
                          <!--card group end-->
                          <!--deatails of product section start-->
                          <div class="py-3 px-md-3">
                            <div class="">
                              <h3 style="color: #15544a; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Details of Product</h3>
                            </div>
                          <table class="table table-bordered">
                            <tbody>
                              <tr>
                                <th scope="row" style="background-color: aliceblue; color: #15544a;" class="text-center">Lenght/Size</th>
                                <td  style="color: #15544a;">
                                  <li>As per customer's requirements.</li>
                                </td>
                              </tr>
                              <tr>
                                <th scope="row" style="background-color: aliceblue; color: #15544a;" class="text-center">Finising/Coating</th>
                                <td  style="color: #15544a;">
                                  <li>As per customer's requirements.</li>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <!--deatails of product section end-->
                          
                        </div>
                        <!--model body end-->
                    </div>
                </div>
            </div>
            <!--3rdModal end-->
                </div>
                </div>
            </div>
          </section>

        <!--Products section end-->

    </nav>
<!--body section end-->

{% endblock body %}