{% extends 'header.html' %}

{% block title %}Products | #1 Brass Component Exporter from India – Trusted for Global Distribution{% endblock title %}

{% block body%}

<style>
  .con {
  position: relative;
  height: 250px;
  width: 250px;
  margin: 2%;
}

.imm {
  display: block;
  width: 100%;
  height: 250px;
}

.ove {
  position: absolute; 
  bottom: 0; 
  background: rgba( 21, 84, 74, 0.60);
  color: #f1f1f1; 
  width: 100%;
  transition: .1s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 0.5rem;
  text-align: center;
}

.con:hover .ove {
  opacity: 2;
}
</style>


    <!--Main body section start-->

    <nav class="shadow p-3 mb-5 bg-white rounded">

        <!--header section start-->

        <section class="container mb-2" id="mission" style="scroll-margin-top: 60px">
            <div class="text-center mx-auto" style="max-width: 690px; color: #15544a">
              <p class="display-6 mt-2 mb-2"  style="color: #15544a; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Our Collection</p>
              <p class="lead" style="color: #15544a; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Unmatched Durability in Brass Manufacturing</p>
              <hr class="mt-0 mb-3" width="100%">
            </div>
        </section>

        <!--header section end-->

        <!--product showcase start-->
        <section class="container" style="margin-bottom: 3rem;">
            <div class="row row-cols-auto">
              <div class="col">
                <div class="con">
                  <a class=" text-decoration-none" href="/surgicalparts" style="color: aliceblue;"><img src="/static/images/Products/Explore_the_Versatile_Range_in_Medical-Instruments-Part_by_Swastik-Metal.jpg" class="imm" alt="Swastik Metal is Top-Notch Medical Instruments or Surgical Components Manufacturing Company"></a>
                  <div class="ove">
                    <a class=" text-decoration-none" href="/surgicalparts" style="color: aliceblue;">Medical Instrument Parts</a>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="con">
                  <a class=" text-decoration-none" href="/hexnutsbolts" style="color: aliceblue;"><img src="/static/images/Products/Swastik-Metal’s_Collection_of_Hex-Nut_Bolt-Crafted_for_You.jpg" style="rotate: 90deg;" class="imm" alt="At Reliable and Best Prices Hex Nut Bolts Manufacturing Company"></a>
                  <div class="ove"><a class=" text-decoration-none" href="/hexnutsbolts" style="color: aliceblue;">Hex Nut-Bolts</a>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="con">
                  <a class=" text-decoration-none" href="/electricalparts" style="color: aliceblue;"><img src="/static/images/Products/Find_the_Perfect_Fit_in_Swastik-Metal_Collection_for_Electric-Component-Parts.jpg" class="imm" alt="Electrical Component Parts Manufacturing Company"></a>
                  <div class="ove">
                    <a class=" text-decoration-none" href="/electricalparts" style="color: aliceblue;">Electrical Parts</a>
                  </div>
                </div>
              </div>
              
              <div class="col">
                <div class="con">
                  <a class=" text-decoration-none" href="/bicyclepumpparts" style="color: aliceblue;"><img src="/static/images/Products/Bringing_Sophistication_of_Iteams_Swastik-Metal’s_Bicycle-Pump-Part_Collection.jpg" class="imm" alt="Do You Want Bicycle Pump Components or Parts. Contact SwastikMetal."></a>
                  <div class="ove">
                    <a class=" text-decoration-none" href="/bicyclepumpparts" style="color: aliceblue;">Bicycle Pump Parts</a>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="con">
                  <a class=" text-decoration-none" href="/brasswingnutsproducts" style="color: aliceblue;"><img src="/static/images/Products/Built_to_Last_Designed_for_You_Swastik-Metal's_Brass-Wing-Nuts_Collection/Swastik-Metal_Skilled_into_Manufacturing_of_Wing Nuts.jpg" class="imm" alt="Best  Quality Brass Wing Nuts Manufacturing Company."></a> 
                  <div class="ove">
                    <a class=" text-decoration-none" href="/brasswingnutsproducts" style="color: aliceblue;">Brass Wing Nuts</a>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="con">
                  <a class=" text-decoration-none" href="/brasssensitiveolivalve" style="color: aliceblue;"><img src="/static/images/Products/Discover_the_Essence_of_Quality_in_Swastik-Metal’s_Sensitive-Oil-Valve.jpg" class="imm" alt="is You need  Brass Sensitrol Oil Valve. Contact Swastik Metal. Grab at best price."></a>
                  <div class="ove">
                    <a class=" text-decoration-none" href="/brasssensitiveolivalve" style="color: aliceblue;">Brass Sensitive Oil Valve and Staters</a>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="con">
                  <a class=" text-decoration-none" href="/sanitaryiteams" style="color: aliceblue;"><img src="/static/images/Products/Elevate_Your_Expectations_with_Swastik-Metal’s_Santrairy-Items_Collection/Swastik-Metal_is_Your_Trusted_Manufacturing_Source_for_Water-Meter-Connectoers_1.jpg" class="imm" alt="Get Water Meter Connectors at Best Price with Top Notch Quality. Contact Swastik Metal."></a>

                  <div class="ove">
                    <a class=" text-decoration-none" href="/sanitaryiteams" style="color: aliceblue;">Sanitary Items</a>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="con">
                  <a class=" text-decoration-none" href="/brassinsertproducts" style="color: aliceblue;"><img src="/static/images/Products/For_Those_Who_Demand_the_Best-Discover_Swastik-Metal’s_Brass-Insert_Collection/Reliable_Product_Manufacturing_Partner_for_Kurling-Insert__Swastik-Metal.jpg" class="imm" alt="Grab Kurling Inserts at high-quality  and best price. Contact Swastik Metal."></a>

                  <div class="ove">
                    <a class=" text-decoration-none" href="/brassinsertproducts" style="color: aliceblue;">Brass Insert</a>
                  </div>
                </div>
              </div>

            
            <div class="col">
              <div class="con">
                <a class=" text-decoration-none" href="/brassterminal" style="color: aliceblue;"><img src="/static/images/Products/Designed_with_Purpose_Built_with_Precision_Swastik-Metal_Brass-Terminal_Collection/Efficient_Battry-Terminal_Manufacturing_Solutions_by_Swastik-Metal.jpg" class="imm" alt="Swastik-Metal is kownon  for best quality brass terminal."></a>
                <div class="ove">
                  <a class=" text-decoration-none" href="/brassterminal" style="color: aliceblue;">Brass terminal</a>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="con">
                <a class=" text-decoration-none" href="/brassballvalve" style="color: aliceblue;"><img src="/static/images/Products/Where_Quality_Meets_Affordability_Swastik-Metal’s_Brass-Ball-Valve_Collection/Custom_Brass-Ball-Valve_Manufacturing_Services_by_Swastik-Metal.jpg" class="imm" alt=""></a>
                <div class="ove">
                  <a class=" text-decoration-none" href="/brassballvalve" style="color: aliceblue;">Brass Ball Valve</a>
                </div>
              </div>
            </div>
          </div>
      </section>

        <!--product showcase end-->
        <div class="card mb-3 mx-5  border-0" style="text-align: justify;">
          <div class="card-body">
            <h3 class="card-title" style="font-family: Georgia, 'Times New Roman', Times, serif; color: #ee3435;">Superior Brass Products & Custom Solutions</h3>
            <h5 class="card-text" style="color: #15544a;">Trusted Quality and Innovation for All Your Brass Needs</h5>
            <hr class="mt-0 mb-3" width="100%">
            <p class="card-text" style="color: #15544a;">By choosing Swastik Metal for your brass product needs, you are opting for superior quality and reliability. Our dedication to excellence and innovation ensures that our products meet the highest industry standards, making us a trusted partner across various sectors worldwide.</p>
            <p class="card-text h6" style="color:#ee3435;">If your desired products are not in our collection, feel free to share your product images and drawings, and we will manufacture them to your specifications.</p>
          </div>
        </div>
        
    </nav>
    
    <!--Main body section start-->

{% endblock body %}