{% extends 'header.html' %}

{% block title %}Sanitary Items{% endblock title %}

{% block body%}

<!--body section start-->
    <nav class="mt-2 shadow p-3 mb-5 bg-white rounded">

        <!--Breadcrumb menu start-->
        <nav class="m-4" style="--bs-breadcrumb-divider: '>'; color: #15544a;" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item h4"><a class="text-decoration-none" style="color: #15544a; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;" href="/product">Product</a></li>
              <li class="breadcrumb-item h4" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Sanitary Items</li>
            </ol>
          </nav>
        <!--Breadcrumb menu end-->
        <!--Products section start-->
        <section class="container">
            <div class="row mb-5">
                <div class="row row-cols-1 row-cols-md-4 g-4">
                    <!--1st image-->
                <div class="col">
                      <div class="card border-0">
                        <a class=" text-decoration-none" href="/brassinsertproducts" style="color: #15544a;" data-bs-toggle="modal" data-bs-target="#santrairyItems01"> <img src="/static/Productimage/Santrairy items/heater cattles.jpg" class="card-img-top mt-2 shadow p-3 bg-white rounded" alt="..."></a>
                      </div>
                </div>
                <!--1stModal start-->
                <div class="modal fade" id="santrairyItems01" tabindex="-1" aria-labelledby="santrairyitems01" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <!--model header start-->
                            <div class="modal-header">
                                <h4 class="modal-title text-center" id="santrairyitems1" style="color: #ee3435; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Heater Cattles</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <!--model header end-->
                            <!--model body start-->
                            <div class="modal-body">
                              <!--card group start-->
                              <div class="card-group shadow p-3 mb-5 bg-white rounded">
                                <div class="card py-3 px-md-3 border-0">
                                  <img src="/static/Productimage/Santrairy items/heater cattles01.jpg" class="card-img-top" alt="...">
                                </div>
                                <div class="card py-3 px-md-3 border-0">
                                  <img src="/static/Productimage/Santrairy items/heater cattles02.jpg" class="card-img-top" alt="...">
                                </div>
                              </div>
                              <!--card group end-->
                              <!--deatails of product section start-->
                              <div class="py-3 px-md-3">
                                <div class="">
                                  <h3 style="color: #15544a; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Details of Product</h3>
                                </div>
                              <table class="table table-bordered">
                                <tbody>
                                  <tr>
                                    <th scope="row" style="background-color: aliceblue; color: #15544a;" class="text-center">Length/Size</th>
                                    <td  style="color: #15544a;">
                                      <li>As per Customer's Requirements.</li>
                                    </td>
                                  </tr>
                                  <tr>
                                    <th scope="row" style="background-color: aliceblue; color: #15544a;" class="text-center">Finishing/Coating</th>
                                    <td  style="color: #15544a;">
                                      <li>As per Customer's Requirements.</li>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                            <!--deatails of product section end-->
                              
                            </div>
                            <!--model body end-->
                        </div>
                    </div>
                </div>
                <!--1stModal end-->
                   <!--2nd image-->
                   <div class="col">
                    <div class="card border-0">
                      <a class=" text-decoration-none" href="/brassinsertproducts" style="color: #15544a;" data-bs-toggle="modal" data-bs-target="#santrairyItems02"><img src="/static/Productimage/Santrairy items/water meter connector.jpg" class="card-img-top mt-2 shadow p-3 bg-white rounded" alt="..."></a>
                    </div>
              </div>
              <!--2ndModal start-->
              <div class="modal fade" id="santrairyItems02" tabindex="-1" aria-labelledby="santrairyitems02" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                          <!--model header start-->
                          <div class="modal-header">
                              <h4 class="modal-title text-center" id="santrairyitems2" style="color: #ee3435; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Water Meter Connector</h4>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <!--model header end-->
                          <!--model body start-->
                          <div class="modal-body">
                            <!--card group start-->
                            <div class="card-group shadow p-3 mb-5 bg-white rounded">
                              <div class="card py-3 px-md-3 border-0">
                                <img src="/static/Productimage/Santrairy items/water meter connector.jpg" class="card-img-top" alt="...">
                              </div>
                              <div class="card py-3 px-md-3 border-0">
                                <img src="/static/Productimage/Santrairy items/water meter connector01.jpg" class="card-img-top" alt="...">
                              </div>
                            </div>
                            <!--card group end-->
                            <!--deatails of product section start-->
                            <div class="py-3 px-md-3">
                              <div class="">
                                <h3 style="color: #15544a; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Details of Product</h3>
                              </div>
                            <table class="table table-bordered">
                              <tbody>
                                <tr>
                                  <th scope="row" style="background-color: aliceblue; color: #15544a;" class="text-center">Length/Size</th>
                                  <td  style="color: #15544a;">
                                    <li>As per Customer's Requirements.</li>
                                  </td>
                                </tr>
                                <tr>
                                  <th scope="row" style="background-color: aliceblue; color: #15544a;" class="text-center">Finishing/Coating</th>
                                  <td  style="color: #15544a;">
                                    <li>As per Customer's Requirements.</li>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <!--deatails of product section end-->
                            
                          </div>
                          <!--model body end-->
                      </div>
                  </div>
              </div>
              <!--2ndModal end-->
                    </div>
                  </div>
            </div>
          </section>

        <!--Products section end-->

    </nav>
<!--body section end-->

{% endblock body %}